body
{
	margin:0px;
	padding:0px;
	font-family:Verdana;
	font-size:12px;
}

.center
{
	margin:auto;
}

.clear
{
	clear:both;
}

#top
{
	width:1000px;
	height:200px;
	background-color:#348378;
	background-image:url(../graphics/lok.png);
}

#pageframe
{
	width:1000px;
	background-color:#efefef;
}

#left
{
	width:170px;
	float:left;
}

#random
{
	background-color: #FFFFB0;
    border-radius: 0 0 10px 0;
    border-top: 10px solid #F1EBA6;
    box-shadow: 1px 1px 4px 2px ;
    height: 100px;
    margin-bottom: 30px;
}

nav#left
{
	padding:10px;
	width:150px;
	font-size:10px;
	color: #aaa;
}

#left input 
{
	line-height:15px;
	font-size:14px;
	width:140px;
	padding: 5px;
	border: 2px solid #aaa;
	margin-top: 10px;
}

#content
{
	width:620px;
	padding:20px;
	float:left;
}

#right
{
	width:170px;
	float:left;
}

#foot
{
	width:1000px;
	height:30px;
	line-height:30px;
	border-top:1px solid #ccc;
}

#foot a
{
	text-decoration:none;
	color:#555;
}

#foot a:hover
{
	text-decoration:underline;
	color:#000;
}


